<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>پنل مدیریت</title>
    <link rel="stylesheet" href="/css/p-admin/tags.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <aside class="sidebar">
      <header>
        <a href="/">
          <img src="/images/logo.png" alt="Website logo" class="website-logo" />
        </a>
      </header>
      <main class="sidebar-content">
        <div>
          <a href="./" class="side-link">
            <i class="fa-solid fa-house"></i>
            صفحه اصلی
          </a>
        </div>
        <div>
          <a href="./create/" class="side-link">
            <i class="fa-solid fa-square-plus"></i>
            ایجاد مقاله
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-users"></i>
            لیست کاربران
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-wallet"></i> مدیریت فروش
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-shop"></i> محصولات
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-list"></i>
            دسته بندی ها
          </a>
        </div>
      </main>
    </aside>

    <!-- Main content  -->
    <main id="content">
      <!-- Navbar - profile -->
      <nav>
        <div>
          <div>
            <p class="welcome">پیمان عزیز, خوش آمدید 🙌</p>
            <p class="text-sm">روز خوشی رو داشته باشید !</p>
          </div>
        </div>
        <div class="navbar-buttons">
          <button class="bell-button">
            <i class="fa-solid fa-bell"></i>
          </button>
          <div class="break-line"></div>
          <div class="profile-dropdown">
            <div class="profile-data">
              <img
                src="/images/admin.jpg"
                alt="Admin profile"
                class="admin-profile"
              />
              <div>
                <p class="user-name">پیمان احمدی</p>
                <p class="user-role">مدیر</p>
              </div>
              <div>
                <span>
                  <i class="fa-solid fa-chevron-left"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Content  -->
      <section id="container">
        <!-- Sort & Filtering -->
        <header>
          <div>
            <h3 class="page-title">لیست تگ ها</h3>
            <p class="text-sm">پنل پیشرفته مدیریت - تگ ها</p>
          </div>
          <!-- Filter Options -->
          <div class="filtering">
            <div>
              <input
                type="search"
                class="search-bar"
                placeholder="جستجو کنید .."
              />
            </div>
          </div>
        </header>

        <!-- Table container -->
        <main>
          <!-- Table -->
          <div class="table">
            <div class="table-head">
              <div class="th-item">
                <p>#شناسه</p>
              </div>
              <div class="th-item w-2/5">
                <p>عنوان</p>
              </div>
              <div class="th-item">
                <p>تاریخ ایجاد</p>
              </div>
              <div class="th-item">
                <p>مدیریت</p>
              </div>
            </div>
            <div class="table-main">
              <% if(tags.length) { %> <% tags.forEach(tag => { %>
              <div class="table-row">
                <p><%= tag.id %></p>
                <p><%= tag.title %></p>
                <p><%= new Date(tag.created_at).toLocaleString('fa-IR') %></p>
                <div class="manage-buttons">
                  <form action="/tags/remove/<%= tag.id %>" method="post">
                    <button class="manage-button remove">حذف</button>
                  </form>
                  <button
                    class="manage-button edit"
                    onclick="showUpdateTagModal('<%= tag.id %>', '<%= tag.title %>')"
                  >
                    ویرایش
                  </button>
                  <form action="/" method="post">
                    <button class="manage-button view">مشاهده</button>
                  </form>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
            <div class="table-footer"></div>
          </div>
        </main>
      </section>
    </main>

    <div class="modal-screen invisible" id="update-tag-modal">
      <div id="modal-content">
        <header>
          <span></span>
          <span>ویرایش عنوان</span>
          <button id="close" class="close-update-tag-modal">X</button>
        </header>
        <form method="post" action="/tags/update">
          <main>
            <label for="title">عنوان:</label>
            <input type="hidden" name="id" id="tag-id" />
            <input
              type="text"
              id="input"
              class="tag-title"
              name="title"
              placeholder="عنوان جدید را وارد نمائید ..."
            />
          </main>
          <footer>
            <button id="create" type="submit">اعمال تغییرات</button>
          </footer>
        </form>
      </div>
    </div>

    <script src="/js/sweetalert.js"></script>
    <script src="/js/tags.js"></script>
    <script>
      if ("<%= locals.messages.error %>") {
        swal({
          title: "<%= locals.messages.error %>",
          icon: "error",
          buttons: "Try Again",
        });
      } else if ("<%= locals.messages.success %>") {
        swal({
          title: "<%= locals.messages.success %>",
          icon: "success",
          buttons: "Huraaa 😍",
        });
      }
    </script>
  </body>
</html>
